body, html {
    height: 100%;
}
  
.bg {   
    /* Full height */
    height: 100%; 
    /* Center and scale the image nicely */
    background-position: center;
    background-size: cover;
}

#heading {
    color: rgb(243, 239, 7);
    text-align: center;
    font-size: 44px;
    font-weight: 600;
}

.charIcons {
    display: inline;

}

.icon {
    margin: 10px;
    border: 4px solid rgb(243, 239, 7);
}

#fightSec {
    -moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000;
    background: rgba(164, 240, 13, 0.26);
}

.fight {
    margin-left: 10px;
    font-size: 20px;
    color: darkgreen;
}

button {
    width: 150px;
    height: 50px;
    background-color: red;
    border-radius: 25px;
}

.secondaryHeadings {
    color: rgb(243, 239, 7);
    font-size: 24px;
    margin-left: 10px;
}

.hidden {
    opacity: 1;
}